[Unit]
Description=A domain block service
[Service]
ExecStart=/opt/domain_block/domain_block_service
ExecStop=/bin/kill -TERM $MAINPID
Type=simple
TimeoutStopSec=1
[Install]
WantedBy=multi-user.target
